.direnv/
.envrc

# Terraform
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
terraform.tfvars
tfplan
crash.log

# Ansible
ansible/inventory.ini
ansible/inventory/hosts.ini
ansible/vars/infra.yml

# OS
.DS_Store
